
#subtitulo{
    text-align: left;
    font-family: 'Caesar Dressing', cursive;

}
#BotonCompra{

    font-family: 'Almendra', serif;
    text-align: right;
    margin-top: 4%;

}

#tex{
    font-family: 'Almendra', serif;   
}

.card1{
    font-family: 'Almendra', serif;
}
.card2{ 
    font-family: 'Almendra', serif;
}
.card3{
    font-family: 'Almendra', serif;
}

#imagenBar{
    margin-top: 1%;
    width: 100%;
    height: auto;

}
#barraMenu{
    width: 100%;
    height: auto;
    position: relative;
}

#opcionCerveza{
    position: absolute;
    margin-top: 2%;
    margin-left: 6%;
}

#opcionCoctel{
    position: relative;
    margin-top: 2%;
    margin-left: 38%;
}

#opcionTequila{
    position: absolute;
    margin-top: 2%;
    margin-left: 70%;
}

#imagen4{
   margin-top: 2%;
   position: relative;
   margin-left: 40%;
}

#imagen5{
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 2%;
 }

 #imagen7{
    margin: auto;
    width: 100%;
    height: auto;
 }

 #imagen8{
    margin-left: 2%;
    position: relative;
    margin-top: 2%;
    height: 500px;
 }

 #imagen9{
    margin-left: 5%;
    margin-top: 2%;
    height: 500px;
    margin-bottom: 50%;
    height: 400px;
 }

 #imagen10{
    height: 200px;
    margin-left: 25%;
    position: relative;
 }

 #imagen11{
    margin:auto;
    margin-left: 15%;
 }

 #imagen12{
    margin-left: 12%;
    margin-top: 2%;
}

#imagen13{
    margin-left: 13%;
    margin-top: 2%;
}

#imagen14{
    margin-left: 40%;
    margin-top: 12%;
}

#imagen15{
    margin-left: 40%;
    margin-top: 2%;
    width: 500px;
}

#lista{
    margin-left: 36%;
    margin-top: 2%;
}

#contactanosFinal{
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
}
    
