body {
    font: normal 16px sans-serif;
    padding: 60px 0;
}
#logoBar {
    position: absolute;
    width: 300px;
}

#boton1 {
    position: absolute;
    right:35%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton2 {
    position: absolute;
    right: 25%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton3 {
    position: absolute;
    right: 15%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}
#titulo{
    margin-top: 70px;
    color: white;
    text-align: center;
    font-family: 'Rock Salt';
}
#subtitulo{
    margin-top: 20px;
    margin-left: 25px;
    color: white;
    font-family: 'Rock Salt';
}