body {
    background-color: black;
}

#fotoBar {
    position: absolute;
    width: 100%;
    height: auto;
}

#logoBar {
    position: absolute;
    width: 450px;
    height: 120px;
    margin-left: 2%;
}

#boton1 {
    margin-top: 2%;
    position: absolute;
    right: 3%;
    width: 90px;
    height: 50px;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton2 {
    margin-top: 2%;
    position: absolute;
    right: 13%;
    width: 90px;
    height: 50px;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton3 {
    margin-top: 2%;
    position: absolute;
    right: 23%;
    width: 140px;
    height: 50px;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#spotify{
    margin-top: 88%;
    position: relative;
    width: 320px;
    height: 120px;
    margin-left: 2%;
    margin-bottom: 2%;
}

#fotoCantante{
    margin-top: auto;
    position: absolute;
    width: 100%;
    height: auto;
}

#logoBar1 {
    margin-top: 1%;
    position: absolute;
    width: 450px;
    height: 120px;
    margin-left: 2%;
}

#boton1a {
    margin-top: 2%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 3%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton2a {
    margin-top: 2%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 13%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton3a {
    margin-top: 2%;
    position: absolute;
    width: 140px;
    height: 50px;
    right: 23%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#parrafoCantante{
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 12%;
    text-align: justify;
    left: 13%;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 25px;
}

#galeria {
    margin-top: 60%;
    position: relative;
    width: 270px;
    height: 50px;
    left: 25%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Germania One', cursive;
    font-size: 30px;
    border: 1px solid;
    margin-bottom: 44%;
}

#fondo1 {
    margin-top: 2%;
    position: absolute;
    width: 100%;
    height: auto;
}

#logoBar2 {
    margin-top: 3%;
    position: absolute;
    width: 450px;
    height: 120px;
    margin-left: 2%;
}

#boton1b {
    margin-top: 4%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 3%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton2b {
    margin-top: 4%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 13%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton3b {
    margin-top: 4%;
    position: absolute;
    width: 140px;
    height: 50px;
    right: 23%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#barra2 {
    margin-top: 10.5%;
    position: absolute;
    padding: 0px 0px;
    padding: 0px 0px; 
    left: 5%;
    width: 90%;
}

#cartelera1 {
    margin-top: 16%;
    position: absolute;
    margin-left: 5.6%;
    width: 320px;
    height: 450px;
}

#cartelera2 {
    margin-top: 15.8%;
    position: absolute;
    margin-left: 4.5%;
    width: 320px;
    height: 450px;
}

#cartelera3 {
    margin-top: 15.8%;
    position: absolute;
    margin-left: 3%;
    width: 320px;
    height: 450px;
}

#botonReserva1 {
    position: relative;
    width: 210px;
    height: 50px;
    font-size: 30px;
    border: 1px solid;
    margin-top: 165%;
    margin-left: 32%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#botonReserva2 {
    position: relative;
    width: 210px;
    height: 50px;
    font-size: 30px;
    border: 1px solid;
    margin-top: 165%;
    margin-left: 27%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#botonReserva3 {
    position: relative;
    width: 210px;
    height: 50px;
    font-size: 30px;
    border: 1px solid;
    margin-top: 165%;
    margin-left: 23%;
    margin-bottom: 6%;
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#logoBar3 {
    margin-top: 1%;
    position: absolute;
    width: 450px;
    height: 120px;
    margin-left: 2%;
}

#boton1c {
    margin-top: 2%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 3%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton2c {
    margin-top: 2%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 13%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton3c {
    margin-top: 2%;
    position: absolute;
    width: 140px;
    height: 50px;
    right: 23%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#bebidas {
    margin-top: auto;
    position: absolute;
    width: 100%;
    height: auto;
}

#parrafoBebidas{
    position: absolute;
    width: 350px;
    height: 300px;
    margin-top: 20%;
    text-align: justify;
    left: 112px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 40px;
}

#botonDescubrir{
    position: relative;
    width: 230px;
    height: 50px;
    font-size: 30px;
    border: 1px solid;
    margin-top: 72%;
    margin-left: 24%;
    padding: 0px 0px;
    padding: 0px 0px; 
    margin-bottom: 48%;
    font-family: 'Homemade Apple', cursive;
}

#fondoFinal{
    margin-top: auto;
    position: absolute;
    width: 100%;
    height: auto;
}

#logoBar4 {
    margin-top: 1.5%;
    position: absolute;
    width: 450px;
    height: 120px;
    margin-left: 2%;
}

#boton1d {
    margin-top: 2%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 3%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton2d {
    margin-top: 2%;
    position: absolute;
    width: 90px;
    height: 50px;
    right: 13%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#boton3d {
    margin-top: 2%;
    position: absolute;
    width: 140px;
    height: 50px;
    right: 23%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}

#logoFinal{
    margin-top: 10%;
    position: absolute;
    width: 150px;
    height: 40px;
    margin-left: 44%;
}

#parrafoFinal{
    position: absolute;
    width: 350px;
    height: 300px;
    margin-top: 13%;
    text-align: center;
    margin-left: 36%;
    font-family: 'Almendra', serif;
    font-size: 20px;
}

#iconoFacebook{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 29%;
    margin-left: 45%;
}

#iconoInstagram{
    position: absolute;
    width: 43px;
    height: 43px;
    margin-top: 29.3%;
    margin-left: 48.8%;
}

#iconoTwitter{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 29%;
    margin-left: 52%;
}

#botonEnviar{
    margin-top: 44%;
    position: absolute;
    width: 140px;
    height: 50px;
    margin-left: 46%;
    background-color: rgb(87, 21, 21);
    padding: 0px 0px;
    padding: 0px 0px; 
    font-family: 'Rock Salt', cursive;
}